textarea {
	width: 500;
	height: 200;
	background-color: E0E0E0;
	color: #0d0d13;
}

input {
	font-family: Courier New;
}

.button {
	width: 500;
	height: 40;
}

b {
	font-size: 20pt;
	color: #524343;
}

body {
	background-color: #6b5555;
	font-family: Courier New;
}

table {
	border-color: #443535;
	background-color: #533939;
}
.nav {
	font-size: 30px;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
  }
  
.nav li {
	display: inline-block;
	font-size: 20px;
	padding: 20px;
  }
  